NET "FPGA_CLOCK" LOC = E3 | IOSTANDARD = LVCMOS33;
NET "H_SYNC" LOC = B11 | IOSTANDARD = LVCMOS33;
NET "V_SYNC" LOC = B12 | IOSTANDARD = LVCMOS33;
NET "R(0)" LOC = A3 | IOSTANDARD = LVCMOS33;
NET "R(1)" LOC = B4 | IOSTANDARD = LVCMOS33;
NET "R(2)" LOC = C5 | IOSTANDARD = LVCMOS33;
NET "R(3)" LOC = A4 | IOSTANDARD = LVCMOS33;
NET "G(0)" LOC = C6 | IOSTANDARD = LVCMOS33;
NET "G(1)" LOC = A5 | IOSTANDARD = LVCMOS33;
NET "G(2)" LOC = B6 | IOSTANDARD = LVCMOS33;
NET "G(3)" LOC = A6 | IOSTANDARD = LVCMOS33;
NET "B(0)" LOC = B7 | IOSTANDARD = LVCMOS33;
NET "B(1)" LOC = C7 | IOSTANDARD = LVCMOS33;
NET "B(2)" LOC = D7 | IOSTANDARD = LVCMOS33;
NET "B(3)" LOC = D8 | IOSTANDARD = LVCMOS33;
NET "IMGBTN" LOC = N17 | IOSTANDARD = LVCMOS33;
NET "BTNLEFT" LOC = P17 | IOSTANDARD = LVCMOS33;
NET "BTNRIGHT" LOC = M17 | IOSTANDARD = LVCMOS33;
NET "BTNUP" LOC = M18 | IOSTANDARD = LVCMOS33;
NET "BTNDOWN" LOC = P18 | IOSTANDARD = LVCMOS33;

NET "RIN(0)" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "RIN(1)" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "RIN(2)" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "RIN(3)" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "GIN(0)" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "GIN(1)" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "GIN(2)" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "GIN(3)" LOC = R17 | IOSTANDARD = LVCMOS33;
NET "BIN(0)" LOC = R15 | IOSTANDARD = LVCMOS33;
NET "BIN(1)" LOC = M13 | IOSTANDARD = LVCMOS33;
NET "BIN(2)" LOC = L16 | IOSTANDARD = LVCMOS33;
NET "BIN(3)" LOC = J15 | IOSTANDARD = LVCMOS33;
